node_modules
.pnp
.pnp.js
.pnpm-store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
.expo
ios
android
build
coverage
.DS_Store
.husky/_
.turbo
.idea
.vscode
cache
artifacts
